.about-us {
	& > * {
		margin-block-end: toRem(70);
		@media (max-width: $mobile) {
			margin-block-end: toRem(60);
		}
		@media (max-width: $mobileSmall) {
			margin-block-end: toRem(40);
		}
	}
	& > *:last-child {
		margin-block-end: 0;
	}
	&__breadcrumbs {
		margin-block-end: toRem(16);
		@media (max-width: $mobileSmall) {
			margin-block-end: 0;
		}
	}
	// .about-us__promo
	&__promo {
	}
	// .about-us__benefits
	&__benefits {
	}
	// .about-us__visit
	&__visit {
	}
}

//=====================================================================
.benefits-about-us {
	// .benefits-about-us__container
	&__container {
	}
	// .benefits-about-us__block-header
	&__block-header {
	}
	// .benefits-about-us__items
	&__items {
		display: grid;
		gap: toRem(30);
		justify-items: center;
		grid-template-columns: repeat(4, minmax(toRem(290), 1fr));
		@media (max-width: toEm(1280)) {
			grid-template-columns: repeat(2, minmax(toRem(290), toRem(400)));
			justify-content: center;
		}
		@media (max-width: toEm(670)) {
			grid-template-columns: auto;
		}
	}
	// .benefits-about-us__item
	&__item {
	}
}
.item-about-us {
	text-align: center;
	& > *:not(:last-child) {
		margin-block-end: toRem(20);
	}
	// .item-about-us__icon
	&__icon {
		position: relative;
		margin-inline: auto;
		inline-size: toRem(170);
		aspect-ratio: 1;
		border-radius: 50%;
		background-color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			position: relative;
			inline-size: percent(46, 170);
			z-index: 2;
		}
		&::before {
			content: "";
			position: absolute;
			inline-size: percent(105, 170);
			border-radius: 50%;
			aspect-ratio: 1;
			border: toRem(6) solid $yellowColor;
			inset-block-start: 50%;
			inset-inline-start: 50%;
			transform: translate(-50%, -50%);
			z-index: 1;
		}
		&::after {
			content: "";
			position: absolute;
			inline-size: percent(101, 170);
			border-radius: 50%;
			aspect-ratio: 1;
			inset-block-start: calc(50% + toRem(7));
			inset-inline-start: calc(50% - toRem(7));
			transform: translate(-50%, -50%);
			background-color: $lightColor;
		}
		@media (max-width: $mobileSmall) {
			inline-size: toRem(140);
		}
	}
	// .item-about-us__title
	&__title {
		font-size: toRem(26);
		font-weight: 600;
		line-height: 1.3;
		@media (max-width: $mobileSmall) {
			font-size: toRem(23);
		}
	}
	// .item-about-us__text
	&__text {
		line-height: 1.87;
		p:not(:last-child) {
			margin-block-end: toRem(7);
		}
	}
}

//=====================================================================
.visit-about-us {
	margin-block-end: toRem(30);
	@media (max-width: $tablet) {
		margin-block-end: toRem(20);
	}
	@media (max-width: $mobileSmall) {
		margin-block-end: 0;
	}
	// .visit-about-us__container
	&__container {
		@media (min-width: $mobile) {
			display: flex;
			align-items: center;
			column-gap: toRem(30);
		}
	}
	// .visit-about-us__body
	&__body {
		flex: 0 1 toRem(520);
		@media (max-width: toEm(1130)) and (min-width: $tablet) {
			flex-shrink: 0;
			flex-basis: toRem(443);
		}
		@media (max-width: $tablet) and (min-width: $mobile) {
			min-inline-size: toRem(350);
		}
		@media (max-width: $mobile) {
			&:not(:last-child) {
				margin-block-end: toRem(20);
			}
			display: grid;
			.block-about-us__button {
				justify-self: center;
			}
		}
	}
	// .visit-about-us__img
	&__img {
		flex: 0 1 toRem(740);
		img {
			inline-size: 100%;
		}
	}
}
