.blog {
	& > * {
		margin-block-end: toRem(70);
	}
	& > *:last-child {
		margin-block-end: 0;
	}
	// .blog__breadcrumbs
	&__breadcrumbs {
		margin-block-end: toRem(16);
		@media (max-width: $mobileSmall) {
			margin-block-end: 0;
		}
	}
	// .blog__articles
	&__articles {
	}
	// .blog__benefits
	&__benefits {
	}
}

.articles-blog {
	margin-block-end: toRem(30);
	@media (max-width: $tablet) {
		margin-block-end: toRem(20);
	}
	@media (max-width: $mobileSmall) {
		margin-block-end: toRem(10);
	}
	// .articles-blog__container
	&__container {
		& > *:not(:last-child) {
			margin-block-end: toRem(30);
		}
	}
	// .articles-blog__block-header
	&__block-header {
	}
	// .articles-blog__items
	&__items {
		@media (min-width: toEm(680)) {
			display: grid;
			gap: toRem(30);
			grid-template-columns: repeat(auto-fill, minmax(toRem(310), 1fr));
		}
	}
	// .articles-blog__article
	&__article {
		@media (max-width: toEm(679.98)) {
			&:not(:last-child) {
				margin-block-end: toRem(30);
			}
		}
	}
	// .articles-blog__pagination
	&__pagination {
	}
	// .articles-blog__more
	&__more {
		@media (min-width: toEm(601)) {
			display: flex;
			margin-inline: auto;
		}
		@media (min-width: $mobileSmall) {
			padding-inline: toRem(40);
		}
		@media (max-width: toEm(600)) {
			inline-size: 100%;
		}
	}
}
