.page {
	& > section:not(.reviews) {
		padding-block: toRem(40);
		@media (max-width: $tablet) {
			padding-block: toRem(30);
		}
		@media (max-width: $mobile) {
			padding-block: toRem(20);
		}
	}
	// .page__hero
	&__hero {
	}
	// .page__popular-categories
	&__popular-categories {
	}
	// .page__popular-products
	&__popular-products {
	}
	// .page__sales
	&__sales {
	}
	// .page__reviews
	&__reviews {
	}
}

.hero {
	padding-block: toRem(30);
	@media (max-width: $mobile) {
		padding-block: toRem(20);
	}
	// .hero__container
	&__container {
	}
	// .hero__slider
	&__slider {
	}
	// .hero__wrapper
	&__wrapper {
	}
	// .hero__slide
	&__slide {
	}
	// .hero__link
	&__link {
		@media (max-width: toEm(600)) {
			display: block;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			aspect-ratio: 1290 / 420;
			border-radius: toRem(8);
			@media (max-width: toEm(600)) {
				aspect-ratio: 410 / 600;
			}
		}
	}
	// .hero__pagination
	&__pagination {
		position: absolute;
		bottom: toRem(20);
		left: 50%;
		transform: translateX(-50%);
		width: auto;
	}
	.swiper-horizontal > .swiper-pagination-bullets,
	.swiper-pagination-bullets.swiper-pagination-horizontal,
	.swiper-pagination-custom,
	.swiper-pagination-fraction {
		position: absolute;
		bottom: toRem(20);
		left: 50%;
		transform: translateX(-50%);
	}
	// .hero__button
	&__button {
		display: none;
		@media (min-width: $mobile) {
			display: block;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			// .hero__button--prev
			&--prev {
				left: toRem(20);
			}
			// .hero__button--next
			&--next {
				right: toRem(20);
				&::before {
					transform: scaleX(-1);
				}
			}
			@media (max-width: $tablet) {
				width: toRem(45);
				height: toRem(45);
				&::before {
					font-size: toRem(15);
				}
				&--prev {
					left: toRem(15);
				}
				&--next {
					right: toRem(15);
				}
			}
		}
	}
}

//=====================================================================
.popular-categories {
	padding-block: toRem(40);
	// .popular-categories__container
	&__container {
	}
	// .popular-categories__block-header
	&__block-header {
	}
	// .popular-categories__items
	&__items {
		display: grid;
		column-gap: toRem(10);
		row-gap: toRem(24);
		grid-template-columns: repeat(auto-fill, minmax(toRem(250), 1fr));
		@media (max-width: toEm(600)) {
			grid-template-columns: repeat(auto-fill, minmax(toRem(200), 1fr));
			gap: toRem(10);
		}
	}
	// .popular-categories__item
	&__item {
	}
}

//=====================================================================
.popular-products {
	// .popular-products__container
	&__container {
	}
	// .popular-products__block-header
	&__block-header {
	}
	// .popular-products__items
	&__items {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(toRem(280), 1fr));
		gap: toRem(30);
	}
	// .popular-products__item
	&__item {
	}
}
//=====================================================================

.sales {
	// .sales__container
	&__container {
	}
	// .sales__block-header
	&__block-header {
		.block-header__actions {
			display: none;
			@media (min-width: toEm(601)) {
				display: flex;
			}
		}
	}
	// .sales__slider
	&__slider {
	}
	// .sales__wrapper
	&__wrapper {
	}
	// .sales__slide
	&__slide {
	}
	// .sales__link
	&__link {
		display: block;
		transition: transform 0.3s;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			aspect-ratio: 410 / 280;
		}
		@media (any-hover: hover) {
			&:hover {
				transform: scale(0.97);
			}
		}
	}
	// .sales__pagination
	&__pagination {
		display: none;
		@media (max-width: toEm(600)) {
			display: flex;
			justify-content: center;
			margin-top: toRem(20);
			button.swiper-pagination-bullet {
				border-color: $greyLightColor;
			}
			button.swiper-pagination-bullet-active {
				border-color: #fff;
			}
		}
	}
}

// reviews =====================================================================
.reviews {
	padding-block: toRem(70) toRem(50);
	background-color: #e9e9e9;
	@include gridContainer(6);
	// .reviews__container
	&__content {
		@media (min-width: toEm(1170)) {
			display: flex;
			column-gap: toRem(70);
		}
	}
	// .reviews__body
	&__body {
		flex-basis: toRem(410);
		flex-shrink: 0;
		@media (max-width: toEm(1169.98)) {
			&:not(:last-child) {
				margin-bottom: toRem(40);
			}
		}
	}
	&__wrap-slider {
	}
	// .reviews__slider
	&__slider {
		margin: toRem(-20);
		padding: toRem(20);
	}
	// .reviews__wrapper
	&__wrapper {
	}
	// .reviews__slide
	&__slide {
		@media (min-width: $tablet) {
			flex-basis: toRem(450);
		}
	}
	// .reviews__item
	&__item {
		height: 100%;
	}
	&__swiper-pagination {
		display: none;
	}

	&__swiper-scrollbar {
		display: none;
		@media (min-width: toEm(574.98)) {
			display: block;
			margin-block-start: toRem(17);
			min-block-size: toRem(60);
			position: relative;
			display: flex;
			align-items: center;
			&::after {
				content: "";
				position: absolute;
				inline-size: 100%;
				block-size: toRem(6);
				inset-block-start: 50%;
				inset-inline-start: 0;
				transform: translateY(-50%);
				background-color: #e3e2e2;
			}
		}
	}
	.swiper-scrollbar-drag {
		cursor: grab;
		position: relative;
		z-index: 1;
		min-inline-size: toRem(60);
		block-size: toRem(60);
		touch-action: pan-y;
		aspect-ratio: 1 / 1;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: #fff;
		box-shadow: toRem(-3) toRem(4) toRem(15) rgba(0, 0, 0, 0.06);
		overflow: hidden;
		color: $greyColor;
		&::before {
			font-size: 180%; /* 15/60 */
		}
		&:active {
			cursor: grabbing;
		}
	}
}
.body-reviews {
	& > * {
		margin-bottom: toRem(40);
	}
	& > *:last-child {
		margin-bottom: 0;
	}
	// .body-reviews__block-header
	&__block-header {
	}
	// .body-reviews__wrapper
	&__wrapper {
		display: flex;
		align-items: flex-start;
		column-gap: toRem(30);
	}
	// .body-reviews__logo
	&__logo {
		flex-basis: toRem(80);
		flex-shrink: 0;
		aspect-ratio: 1 / 1;
		border-radius: 50%;
		background-color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			max-inline-size: toRem(57);
		}
	}
	// .body-reviews__content
	&__content {
	}
	// .body-reviews__title
	&__title {
		font-size: toRem(20);
		font-weight: 600;
		line-height: 1.4;
		&:not(:last-child) {
			margin-bottom: toRem(10);
		}
	}
	// .body-reviews__rating
	&__rating {
	}
	// .body-reviews__actions
	&__actions {
		display: flex;
		flex-wrap: wrap;
		column-gap: toRem(16);
		row-gap: toRem(10);
	}
	// .body-reviews__link
	&__link {
	}
}
