.product {
	> * {
		margin-block-end: toRem(70);
		@media (max-width: $tablet) {
			margin-block-end: toRem(60);
		}
		@media (max-width: $mobileSmall) {
			margin-block-end: toRem(40);
		}
	}
	> *:last-child {
		margin-block-end: 0;
	}
	// .product__breadcrumbs
	&__breadcrumbs {
		margin-block-end: toRem(30);
		@media (max-width: $mobile) {
			margin-block-end: toRem(16);
		}
		@media (max-width: $mobileSmall) {
			margin-block-end: 0;
		}
	}
	&__info-card {
		&:not(:last-child) {
			margin-block-end: toRem(60);
		}
	}
	&__service {
		&:not(:last-child) {
			margin-block-end: toRem(50);
		}
	}
	// .product__about
	&__about {
	}
	&__popular-products {
		&--margin-end-less {
			margin-block-end: toRem(30);
			@media (max-width: $mobileSmall) {
				margin-block-end: 0;
			}
		}
	}
}

.product-card {
	// .product-card__container
	&__container {
		@media (min-width: toEm(1150)) {
			display: flex;
			column-gap: toRem(30);
		}
	}
	// .product-card__preview
	&__preview {
		flex: 1 1 toRem(100);
		min-inline-size: 0;
		@media (max-width: toEm(1149.98)) {
			&:not(:last-child) {
				margin-block-end: toRem(30);
			}
		}
	}
	// .product-card__body
	&__body {
		flex: 1 1 toRem(100);
	}
}
.preview-product {
	// .preview-product__main-slider
	&__main-slider {
		&:not(:last-child) {
			margin-block-end: toRem(30);
		}
	}
	// .preview-product__sub-slider
	&__sub-slider {
	}
}

.main-slider-product {
	position: relative;
	// .main-slider-product__wrapper
	&__wrapper {
	}
	// .main-slider-product__slide
	&__slide {
		text-align: center;
		img {
			max-inline-size: 100%;
		}
	}
	// .main-slider-product__swiper-pagination
	&__swiper-pagination {
		display: none;
		@media (max-width: $mobileSmall) {
			position: relative;
			display: flex;
			margin-block-start: toRem(20);
			justify-content: center;
		}
	}
	// .main-slider-product__button
	&__button {
		display: none;
		@media (min-width: $mobileSmall) {
			display: block;
			position: absolute;
			inset-block-start: 50%;
			transform: translate(0, -50%);
			transition:
				opacity 0.3s,
				background-color 0.3s;
			// .main-slider-product__button--prev
			&--prev {
				inset-inline-start: toRem(20);
			}
			// .main-slider-product__button--next
			&--next {
				transform: translate(0, -50%) scale(-1, 1);
				inset-inline-end: toRem(20);
			}
			@media (max-width: toEm(1149.98)) {
				background-color: $yellowColor;
				color: #fff;
			}
			@media (max-width: toEm(630)) {
				inline-size: toRem(50);
				block-size: toRem(50);
				&::before {
					font-size: toRem(16);
				}
			}
		}
	}
}

.sub-slider-product {
	display: none;
	@media (min-width: $mobileSmall) {
		display: block;
		max-inline-size: toRem(580);
		// .sub-slider-product__wrapper
		&__wrapper {
		}
		// .sub-slider-product__slide
		&__slide {
			position: relative;
			aspect-ratio: 1;
			border-radius: toRem(8);
			overflow: hidden;
			cursor: pointer;
			&::before {
				content: "";
				position: absolute;
				inset-inline-start: 0;
				inset-block-start: 0;
				inline-size: 100%;
				block-size: 100%;
				border: toRem(1) solid $greyLightColor;
				transition: opacity 0.3s;
				border-radius: toRem(8);
			}
			&::after {
				content: "";
				position: absolute;
				inset-inline-start: 0;
				inset-block-start: 0;
				inline-size: 100%;
				block-size: 100%;
				border: toRem(3) solid $yellowColor;
				transition: opacity 0.3s;
				border-radius: toRem(8);
				opacity: 0;
				z-index: 1;
			}
			&.swiper-slide-thumb-active::after {
				opacity: 1;
			}
			&.swiper-slide-thumb-active::before {
				opacity: 0;
			}
			img {
				inline-size: 100%;
				block-size: 100%;
				object-fit: cover;
			}
		}
	}
}

// Body product
.body-product {
	> * {
		margin-block-end: toRem(30);
	}
	> *:last-child {
		margin-block-end: 0;
	}
	// .body-product__title
	&__title {
		flex-basis: 100%;
		&:not(:last-child) {
			margin-block-end: toRem(20);
			@media (max-width: $mobile) {
				margin-block-end: toRem(10);
			}
		}
	}
	// .body-product__info
	&__info {
		display: flex;
		column-gap: toRem(40);
		row-gap: toRem(10);
		flex-wrap: wrap;
		align-items: center;
		@media (max-width: toEm(1200)) {
			column-gap: toRem(25);
		}
		@media (max-width: toEm(1149.98)) {
			margin-block-end: toRem(40);
		}
		@media (max-width: $mobile) {
			margin-block-end: toRem(20);
		}
	}
	// .body-product__stock
	&__stock {
		flex-shrink: 0;
	}
	// .body-product__rating
	&__rating {
		flex-shrink: 0;
	}
	// .body-product__model
	&__model {
		flex-shrink: 0;
		color: $greyColor;
		font-size: toRem(17);
		line-height: 1.41;
	}
	// .body-product__options
	&__options {
		&:not(:last-child) {
			margin-block-end: toRem(10);
			@media (max-width: toEm(1149.98)) {
				margin-block-end: toRem(20);
			}
		}
	}
	// .body-product__bottom
	&__bottom {
	}
	// .body-product__write-us
	&__write-us {
	}
}

// Options product
.options-product {
	background-color: #fff;
	border-radius: toRem(8);
	box-shadow: toRem(-3) toRem(4) toRem(15) toRem(0) rgba(0, 0, 0, 0.06);
	padding: toRem(20) toRem(20) toRem(30);
	> * {
		margin-block-end: toRem(30);
	}
	> *:last-child {
		margin-block-end: 0;
	}
	@media (max-width: toEm(600)) and (min-width: $mobileSmall) {
		padding-block-start: toRem(30);
	}

	// .options-product__header
	&__header {
		padding-block-end: toRem(14);
		border-block-end: toRem(2) solid rgba(197, 197, 197, 0.3);
		display: flex;
		align-items: center;
		justify-content: space-between;
		column-gap: toRem(20);
		@media (max-width: toEm(600)) {
			justify-content: center;
		}
		@media (max-width: toEm(600)) and (min-width: $mobileSmall) {
			padding-block-end: toRem(30);
		}
	}
	// .options-product__prices
	&__prices {
		display: flex;
		align-items: center;
		column-gap: toRem(20);
		flex-wrap: wrap;
		row-gap: toRem(7);
		@media (max-width: toEm(600)) {
			flex-direction: column;
		}
	}
	// .options-product__current-price
	&__current-price {
		font-size: toRem(30);
		font-weight: 600;
		@media (max-width: $mobileSmall) {
			font-size: toRem(27);
		}
	}
	// .options-product__old-price
	&__old-price {
		color: #e03d3d;
		font-size: toRem(20);
		font-weight: 600;
		text-decoration: line-through;
		@media (max-width: $mobileSmall) {
			font-size: toRem(18);
		}
	}
	// .options-product__favorite
	&__favorite {
		color: $greyColor;
		font-size: toRem(19);
		font-weight: 600;
		line-height: 126.316%;
		display: flex;
		align-items: center;
		column-gap: toRem(10);
		&::before {
			flex-shrink: 0;
			font-weight: 400;
			inline-size: toRem(50);
			aspect-ratio: 1;
			border-radius: 50%;
			background-color: $lightColor;
			font-size: toRem(23);
			display: flex;
			justify-content: center;
			align-items: center;
			transition: color 0.3s;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					color: $redColor;
				}
			}
		}
		@media (max-width: toEm(600)) {
			align-self: center;
		}
	}
	// .options-product__items
	&__items {
		display: flex;
		row-gap: toRem(20);
		flex-wrap: wrap;
		column-gap: toRem(30);
	}
	// .options-product__item
	&__item {
		flex: 1 1 toRem(190);
		&:last-child {
			flex-basis: 100%;
		}
	}
	// .options-product__actions
	&__actions {
	}
}

.item-option-product {
	// .item-option-product__label
	&__label {
		font-size: toRem(17);
		line-height: 141.176%;
		display: flex;
		align-items: center;
		column-gap: toRem(5);
		&:not(:last-child) {
			margin-block-end: toRem(10);
		}
		&::before {
			cursor: pointer;
			font-size: toRem(18);
			color: $greyLightColor;
			line-height: 1;
			transition: color 0.3s;
		}
		@media (any-hover: hover) {
			&:hover {
				&::before {
					color: $yellowColor;
				}
			}
		}
	}
	// .item-option-product__wrap-select
	&__wrap-select {
		position: relative;
		&::after {
			content: "";
			position: absolute;
			inline-size: toRem(10);
			block-size: toRem(6);
			inset-inline-end: toRem(22);
			inset-block-start: 50%;
			transform: translate(0, -50%);
			background: url("../img/icons/icon-font/arrow-down.svg") 0 0 / 100% no-repeat;
		}
	}
	// .item-option-product__select
	&__select {
		inline-size: 100%;
		block-size: toRem(50);
		appearance: none;
		background-color: $lightColor;
		border-radius: toRem(8);
		padding-inline: toRem(15) toRem(39);
		color: $greyColor;
		outline: toRem(2) solid transparent;
		font-size: toRem(16);
		transition: outline-color 0.3s;
		&:focus {
			outline-color: $yellowColor;
		}
	}

	// .item-option-product__radios
	&__radios {
		display: flex;
		flex-wrap: wrap;
		gap: toRem(20);
		overflow: hidden;
		@media (max-width: $mobile) {
			gap: toRem(15);
		}
	}
	// .item-option-product__radio
	&__radio {
		position: relative;
		flex: 0 0 toRem(70);
		aspect-ratio: 1;
		border-radius: 50%;
		overflow: hidden;
		@media (max-width: toEm(600)) {
			flex-basis: toRem(50);
		}
		&::before {
			content: "";
			position: absolute;
			inset-inline-start: 50%;
			inset-block-start: 50%;
			transform: translate(-50%, -50%);
			inline-size: toRem(23);
			block-size: toRem(17);
			background: url("../img/icons/icon-font/radio-check.svg") 0 0 no-repeat;
			opacity: 0;
			transition: opacity 0.3s;
		}
		&:has(.item-option-product__input:checked) {
			&::before {
				opacity: 1;
			}
		}
	}
	&__img {
		inline-size: 100%;
		block-size: 100%;
		object-fit: cover;
	}
	// .item-option-product__input
	&__input {
		position: absolute;
		width: 100%;
		height: 100%;
		inset-inline-start: 0;
		inset-block-start: 0;
		appearance: none;
		border-radius: 50%;
		border: toRem(5) solid transparent;
		transition: border-color 0.3s;
		cursor: pointer;
		&:checked {
			border-color: $yellowColor;
		}
	}
	&__button {
		margin-block-start: toRem(20);
		display: inline-flex;
		flex-direction: row-reverse;
		column-gap: toRem(18);
		align-items: center;
		color: $yellowColor;
		transition: color 0.3s;
		&::before {
			margin-block-start: toRem(-1);
			font-size: toRem(10);
			transition: transform 0.3s;
		}
		.--hide & {
			&::before {
				transform: rotate(180deg);
			}
		}
		@media (any-hover: hover) {
			&:hover {
				color: $greyColor;
			}
		}
	}
}

.actions-product {
	display: flex;
	flex-wrap: wrap;
	column-gap: toRem(30);
	row-gap: toRem(20);
	@media (max-width: $tablet) {
		column-gap: toRem(20);
	}
	@media (max-width: toEm(600)) {
		flex-direction: column;
	}
	// .actions-product__quantity
	&__quantity {
		@media (min-width: toEm(601)) {
			flex: 0 1 toRem(110);
		}
	}
	// .actions-product__buy
	&__buy {
		@media (min-width: toEm(1150)), (max-width: $tablet) {
			flex-grow: 1;
		}
		@media (max-width: toEm(1149.98)) {
			padding-inline: toRem(25);
		}
	}
	// .actions-product__buy-credit
	&__buy-credit {
		padding-inline: toRem(15);
		@media (any-hover: hover) {
			&:hover {
				span {
					color: #fff;
				}
			}
		}
	}
}

.bottom-product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-inline: toRem(20);
	@media (max-width: toEm(600)) {
		row-gap: toRem(20);
	}
	@media (max-width: toEm(540)) {
		flex-direction: column;
		align-items: stretch;
	}
	// .bottom-product__phone
	&__phone {
		position: relative;
		&::before {
			position: absolute;
			inset-inline-start: 0;
			inset-block-start: 50%;
			transform: translate(0, -50%);
			flex-shrink: 0;
			font-size: toRem(26);
			color: $greyLightColor;
			transition: all 0.3s;
		}
		&:has(.bottom-product__input:focus) {
			&::before {
				color: $mainColor;
			}
		}
	}
	// .bottom-product__input
	&__input {
		// inline-size: 100%;
		inline-size: toRem(250);
		// max-inline-size: toRem(250);
		padding-inline-start: toRem(48);
		font-size: toRem(20);
		font-weight: 600;
		block-size: toRem(30);
		outline-offset: toRem(5);
		outline: toRem(2) solid transparent;
		color: $greyLightColor;
		transition: color 0.3s;
		&:focus {
			color: $mainColor;
		}
	}
	// .bottom-product__button
	&__button {
		padding-inline: toRem(40);
		@media (max-width: toEm(600)) {
			padding-inline: toRem(30);
		}
	}
}

// Service
.service {
	// .service__container
	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(toRem(280), 1fr));
		gap: toRem(30);
	}
	// .service__item
	&__item {
		display: flex;
		align-items: flex-start;
		column-gap: toRem(20);
	}
	// .service__icon
	&__icon {
		flex-shrink: 0;
		inline-size: toRem(80);
		aspect-ratio: 1;
		border-radius: 50%;
		background-color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		img {
			block-size: 50%;
		}
	}
	// .service__content
	&__content {
	}
	// .service__title
	&__title {
		font-size: toRem(20);
		font-weight: 600;
		line-height: 1.4;
	}
	// .service__text
	&__text {
		color: $greyColor;
		font-size: toRem(15);
		line-height: 1.46;
		&:not(:last-child) {
			margin-block-end: toRem(11);
		}
	}
	// .service__more
	&__more {
		font-size: toRem(15);
		font-weight: 400;
	}
}
//=====================================================================

.about-product {
	// .about-product__container
	&__container {
		display: flex;
		align-items: flex-start;
		column-gap: toRem(30);
		@media (max-width: $tablet) {
			row-gap: toRem(30);
			flex-direction: column;
		}
	}
	// .about-product__body
	&__body {
		@media (min-width: $tablet) {
			flex-basis: toRem(850);
		}
	}
	// .about-product__add-review
	&__add-review {
		@media (min-width: $tablet) {
			flex: 0 0 toRem(410);
		}
	}
}

.body-about-product {
	> * {
		margin-block-end: toRem(30);
		@media (max-width: toEm(600)) {
			margin-block-end: toRem(20);
		}
	}
	> *:last-child {
		margin-block-end: 0;
	}
	// .body-about-product__title
	&__title {
	}
	// .body-about-product__description
	&__description {
		line-height: 1.87;
		p:not(:last-child) {
			margin-block-end: toRem(7);
		}
	}
	// .body-about-product__img
	&__img {
		margin-block-end: toRem(50);
		img {
			max-inline-size: 100%;
		}
	}
	// .body-about-product__characteristic
	&__characteristic {
		margin-block-end: toRem(70);
		@media (max-width: $tablet) {
			margin-block-end: toRem(60);
		}
	}
	// .body-about-product__reviews
	&__reviews {
	}
}

.add-review-product {
	display: block;
	background-color: #fff;
	padding: toRem(30);
	@media (min-width: toEm(601)) {
		border-radius: toRem(8);
	}
	@media (max-width: toEm(600)) {
		margin-inline: toRem(-15);
	}
	@media (max-width: $mobileSmall) {
		padding-inline: toRem(15);
	}
	// .add-review-product__title
	&__title {
		margin-bottom: toRem(30);
	}
	// .add-review-product__form
	&__form {
		> * {
			margin-block-end: toRem(30);
		}
		> *:last-child {
			margin-block-end: 0;
		}
	}
	// .add-review-product__fields
	&__fields {
		> *:not(:last-child) {
			margin-block-end: toRem(20);
		}
	}
	// .add-review-product__input
	&__input {
	}
	// .add-review-product__textarea
	&__textarea {
	}
	// .add-review-product__rating
	&__rating {
	}
	// .add-review-product__button
	&__button {
		@media (min-width: $mobileSmall) and (max-width: $tablet) {
			display: flex;
			inline-size: auto;
			margin: 0 auto;
			padding-inline: toRem(40);
		}
	}
}

//=====================================================================
.reviews-product {
	background-color: #fff;
	box-shadow: 0 0 toRem(15) 0 rgba(0, 0, 0, 0.05);
	padding: toRem(30);
	@media (min-width: toEm(601)) {
		border-radius: toRem(8);
	}
	@media (max-width: toEm(600)) {
		margin-inline: toRem(-15);
		padding-inline: toRem(15);
	}
	& > * {
		margin-block-end: toRem(40);
		@media (max-width: $mobileSmall) {
			margin-block-end: toRem(30);
		}
	}
	& > *:last-child {
		margin-block-end: 0;
	}
	// .reviews-product__title
	&__title {
		&:not(:last-child) {
			margin-block-end: toRem(10);
		}
	}
	// .reviews-product__info
	&__info {
		display: flex;
		flex-wrap: wrap;
		row-gap: toRem(10);
		column-gap: toRem(41);
	}
	// .reviews-product__quantity
	&__quantity {
		color: #6a6a6a;
		font-size: toRem(17);
		line-height: 1.415;
		span {
			margin-inline-start: toRem(10);
			color: $greyColor;
		}
		@media (max-width: toEm(550)) {
			flex: 1 1 100%;
		}
	}
	// .reviews-product__rating
	&__rating {
		&.rating:has(.rating__value, .rating__reviews, .rating__middle-value) {
			@media (max-width: $mobileSmall) {
				grid-template-columns: auto;
			}
		}
	}
	&__items {
	}
	// .reviews-product__item
	&__item {
	}
	&__more {
		display: flex;
		padding-inline: toRem(30);
		@media (min-width: toEm(601)) {
			margin: 0 auto;
		}
		@media (max-width: toEm(600)) {
			inline-size: 100%;
		}
	}
}

.item-review-product {
	background-color: #fff;
	&:not(:last-child) {
		padding-block-end: toRem(30);
		margin-block-end: toRem(30);
		border-bottom: toRem(3) solid $lightColor;
	}

	> * {
		margin-block-end: toRem(20);
	}
	> *:last-child {
		margin-block-end: 0;
	}
	// .item-review-product__header
	&__header {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		column-gap: toRem(20);
		row-gap: toRem(10);
	}
	// .item-review-product__user
	&__user {
		flex-grow: 1;
		@media (max-width: toEm(600)) {
			flex: 1 1 100%;
		}
	}
	// .item-review-product__rating
	&__rating {
	}
	// .item-review-product__date
	&__date {
	}
	// .item-review-product__text
	&__text {
	}
	// .item-review-product__actions
	&__actions {
		display: flex;
		flex-wrap: wrap;
		column-gap: toRem(32);
		row-gap: toRem(10);
		&:not(:last-child) {
			margin-block-end: toRem(30);
		}
		@media (max-width: toEm(700)) {
			flex-direction: column;
		}
	}
	// .item-review-product__button
	&__button {
	}
	&__replies {
		@media (min-width: $mobile) {
			&:not(:empty) {
				border-top: toRem(2) solid $yellowColor;
				padding-block-start: toRem(30);
				margin-inline-start: percent(70, 850);
			}
		}
	}
	// .item-review-product__reply
	&__reply {
		&:not(:last-child) {
			margin-block-end: toRem(30);
		}
	}
	// .item-review-product__answer-form
	&__answer-form {
	}
	// .item-review-product__product
	&__product {
		display: inline-flex;
		align-items: center;
		column-gap: toRem(10);
		color: $greyColor;
		font-size: toRem(20);
		font-weight: 600;
		line-height: 1.4; /* 140% */
		transition: color 0.3s;
		img {
			flex-shrink: 0;
			inline-size: toRem(50);
			aspect-ratio: 1;
			border-radius: 50%;
			object-fit: contain;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $yellowColor;
			}
		}
	}
}

.button-review {
	display: flex;
	align-items: center;
	column-gap: toRem(7);
	color: $greyColor;
	transition: color 0.3s;
	@media (any-hover: hover) {
		&:hover {
			color: $yellowColor;
		}
	}
	& > span {
		letter-spacing: toRem(0.32);
	}
	&._icon-like {
		&::before {
			font-size: toRem(20);
			color: $yellowColor;
		}
	}

	// .button-review__icon
	&__icon {
		inline-size: toRem(20);
		block-size: toRem(20);
		position: relative;
		span {
			font-size: toRem(20);
			position: absolute;
			inset-inline-start: 0;
			inset-block-start: 0;
			color: $yellowColor;
			transition:
				opacity 0.3s,
				transform 0.3s;
			line-height: 1;
			&._icon-answer {
				font-size: toRem(19);
			}
			&:first-child {
			}
			&:last-child {
				opacity: 0;
				transform: scale(0.5);
			}
			&[data-quantity] {
				block-size: toRem(20);
				inline-size: toRem(20);
				border-radius: 50%;
				background-color: $yellowColor;
				display: flex;
				justify-content: center;
				align-items: center;
				&::before {
					content: attr(data-quantity);
					color: #fff;
					font-size: toRem(13);
					font-weight: 700;
				}
			}
			.--active & {
				&:first-child {
					transform: scale(0.5);
					opacity: 0;
				}
				&:last-child {
					transform: scale(1);
					opacity: 1;
				}
			}
		}
	}
	// .button-review__text
	&__text {
		font-size: toRem(17);
		span {
			&:first-child {
			}
			&:last-child {
				display: none;
			}
			.--active & {
				&:first-child {
					display: none;
				}
				&:last-child {
					display: inline-block;
				}
			}
		}
	}
}

.reply-item-review {
	// .reply-item-review__header
	&__header {
		display: flex;
		flex-wrap: wrap;
		row-gap: toRem(10);
		align-items: center;
		column-gap: toRem(20);
		&:not(:last-child) {
			margin-block-end: toRem(20);
		}
	}
	// .reply-item-review__user
	&__user {
	}
	// .reply-item-review__arrow
	&__arrow {
		flex: 0 0 toRem(20);
	}
	// .reply-item-review__recipient
	&__recipient {
		font-size: toRem(19);
		font-weight: 600;
	}
	// .reply-item-review__date
	&__date {
	}
	// .reply-item-review__text
	&__text {
	}
}

.answer-form-review {
	padding: toRem(34) toRem(30) toRem(30);
	background-color: $lightColor;
	& > *:not(:last-child) {
		margin-block-end: toRem(30);
	}
	@media (min-width: toEm(601)) {
		border-radius: toRem(8);
	}
	@media (max-width: toEm(600)) {
		margin-inline: toRem(-15);
		padding-inline: toRem(35);
	}
	@media (max-width: $mobileSmall) {
		padding-inline: toRem(15);
	}
	// .answer-form-review__title
	&__title {
		display: flex;
		align-items: center;
		column-gap: toRem(20);
		font-size: toRem(17);
		line-height: 1.41;
		&::before {
			content: "";
			inline-size: toRem(21);
			block-size: toRem(15);
			flex-shrink: 0;
			background: url("../img/icons/icon-font/forward.svg") 0 0 / 100% no-repeat;
		}
	}
	// .answer-form-review__fields
	&__fields {
		display: flex;
		flex-wrap: wrap;
		gap: toRem(30);
		@media (max-width: toEm(679.98)) {
			gap: toRem(20);
		}
	}
	// .answer-form-review__input
	&__input {
		@media (min-width: toEm(680)) {
			flex: 1 0 toRem(250);
		}
	}
	// .answer-form-review__textarea
	&__textarea {
		flex-basis: 100%;
	}
	// .answer-form-review__actions
	&__actions {
		display: flex;
		flex-wrap: wrap;
		row-gap: toRem(15);
		column-gap: toRem(30);
		@media (max-width: $mobileSmall) {
			flex-direction: column;
		}
	}
	// .answer-form-review__button
	&__button {
		&:first-child {
			padding-inline: toRem(30);
		}
		&:last-child {
			padding-inline: toRem(35);
			color: $yellowColor;
			@media (any-hover: hover) {
				&:hover {
					color: #fff;
				}
			}
		}
	}
}

.write-use-product {
	display: none;
	@media (max-width: $tablet) {
		display: block;
		background-color: #fff;
		margin-inline: toRem(-15);
		padding: toRem(30) toRem(15);
		// .write-use-product__title
		&__title {
			text-align: center;
			color: $greyColor;
			font-size: toRem(20);
			font-weight: 600;
			line-height: 1.4;
			&:not(:last-child) {
				margin-block-end: toRem(20);
			}
		}
		// .write-use-product__social
		&__social {
		}
	}
}
@media (max-width: $tablet) {
	.social-product {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: toRem(30);
		@media (max-width: $mobileSmall) {
			gap: toRem(20);
		}
		// .social-product__item
		&__item {
			flex-basis: toRem(50);
			aspect-ratio: 1;
			@media (max-width: $mobileSmall) {
				flex-basis: toRem(40);
			}
		}
		// .social-product__link
		&__link {
			inline-size: 100%;
			aspect-ratio: 1;
			img {
				block-size: 100%;
				transition: transform 0.3s;
				@media (any-hover: hover) {
					&:hover {
						transform: rotate(15deg);
					}
				}
			}
		}
	}
}
