.checkbox {
	position: relative;
	display: inline-flex;
	column-gap: toRem(15);
	outline: toRem(2) solid transparent;
	outline-offset: toRem(4);
	border-radius: toRem(1);
	transition: outline-color 0.3s;
	cursor: pointer;
	&:has(.checkbox__input:focus-visible) {
		outline-color: $yellowColor;
	}
	&:has(.checkbox__input:checked) {
		&::before {
			background-color: $yellowColor;
			border-color: $yellowColor;
		}
		&::after {
			opacity: 1;
		}
	}
	&::before {
		content: "";
		flex-shrink: 0;
		inline-size: toRem(16);
		block-size: toRem(16);
		border: toRem(2) solid $greyLightColor;
		border-radius: toRem(4);
		transition:
			border-color 0.3s,
			background-color 0.3s;
	}
	&::after {
		content: "";
		position: absolute;
		inline-size: toRem(9);
		block-size: toRem(7);
		inset-block-start: toRem(4);
		inset-inline-start: toRem(3.5);
		background: url("../img/icons/icon-font/checkbox.svg") 0 0 no-repeat;
		opacity: 0;
		transition: opacity 0.3s;
	}

	// .checkbox__input
	&__input {
		position: absolute;
		inline-size: 0;
		block-size: 0;
		inset-inline-start: 0;
		inset-block-start: 0;
		opacity: 0;
	}

	&__text {
		display: inline-block;
		margin-block-start: toRem(0.5);
	}
}
